<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkinson's Detection</title>
    
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    
    <!-- Add custom CSS if needed -->
    <style>
        /* Add custom CSS styles here */
    </style>
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item" style="margin-left: 50px;">
                    <a class="nav-link" href="/about">About The Disease</a>
                </li>
                <li class="nav-item" style="margin-left: 50px;">
                    <a class="nav-link" href="/dataset">Dataset</a>
                </li>
                <li class="nav-item" style="margin-left: 50px;">
                    <a class="nav-link" href="/plot">Correlation Heat Map</a>
                </li>
                <li class="nav-item dropdown" style="margin-left: 50px;">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Model
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                       
                      <a class="dropdown-item" href="/predict">Predictor</a>
                      <a class="dropdown-item" href="/decision-tree">Decision Tree</a>
                      <a class="dropdown-item" href="/logistic-regression">Logistic Regression Model</a>
                      <a class="dropdown-item" href="/neural-network">Neural Network Model</a>
                      
                    </div>
                  </li>
                
            </ul>
        </div>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>


</body>
</html>